In [22]:
import pandas as pd

In [23]:
df = pd.read_csv('USA_cars_datasets.csv')
print(df)

      price      brand    model  year  mileage   color       state
0      6300     toyota  cruiser  2008   274117   black  new jersey
1      2899       ford       se  2011   190552  silver   tennessee
2      5350      dodge      mpv  2018    39590  silver     georgia
3     25000       ford     door  2014    64146    blue    virginia
4     27700  chevrolet     1500  2018     6654     red     florida
...     ...        ...      ...   ...      ...     ...         ...
2494   7800     nissan    versa  2019    23609     red  california
2495   9200     nissan    versa  2018    34553  silver     florida
2496   9200     nissan    versa  2018    31594  silver     florida
2497   9200     nissan    versa  2018    32557   black     florida
2498   9200     nissan    versa  2018    31371  silver     florida

[2499 rows x 7 columns]

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2499 entries, 0 to 2498
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   price    2499 non-null   int64
 1   brand    2499 non-null   object
 2   model    2499 non-null   object
 3   year     2499 non-null   int64
 4   mileage  2499 non-null   int64
 5   color    2499 non-null   object
 6   state    2499 non-null   object
dtypes: int64(3), object(4)
memory usage: 136.8+ KB

In [25]:
selected = df['price']
print(selected)

0        6300
1        2899
2        5350
3       25000
4       27700
        ...
2494     7800
2495     9200
2496     9200
2497     9200
2498     9200
Name: price, Length: 2499, dtype: int64

In [26]:
selected1 = df['mileage']
print(selected1)

0       274117
1       190552
2        39590
3        64146
4         6654
         ...
2494     23609
2495     34553
2496     31594
2497     32557
2498     31371
Name: mileage, Length: 2499, dtype: int64

In [27]:
df['mileage'].min()

0

In [28]:
df['mileage'].max()

1017936

In [29]:
df['price'].min()

0

In [30]:
df['price'].max()

84900

In [31]:
print('Media:', selected.mean())

Media: 18767.671468587436

In [32]:
print('Mediana:', selected.median())

Mediana: 16900.0

In [33]:
print('Desvación estándar:', selected.std())

Desvación estándar: 12116.094935650759

In [34]:
sorted = selected.sort_values()
p = 5
acum = 0
for i in range(p, len(sorted) - p):
    acum = acum + sorted[i]
shortMean = acum / (len(sorted) - (2 * p))
print('Media recortada: ', shortMean)

Media recortada:  18798.136601044596

In [35]:
print('Media:', selected1.mean())

Media: 52298.685474189675

In [36]:
print('Mediana:', selected1.median())

Mediana: 35365.0

In [37]:
print('Desvación estándar:', selected1.std())

Desvación estándar: 59705.51635643589

In [38]:
sorted = selected1.sort_values()
p = 5
acum = 0
for i in range(p, len(sorted) - p):
    acum = acum + sorted[i]
shortMean = acum / (len(sorted) - (2 * p))
print('Media recortada: ', shortMean)

Media recortada:  52216.019284853355

A traves de Kaggle conseguimos una hoja de datos .csv en la base de datos acerca de la venta de autos usados en Estados Unidos, donde se puede apreciar millage, precio, marca, madelo, color, año y estado en el que se vende.
Una vez analizado el documento con la información se llevo acabo el analisis estadistico de algunas de las variables presentadas, entre ellas el precio y el millaje, con lo cual descubrimos que llegan a tener un costo de hasta 84900 dolares y un máximo de hasta 1179936 millas recorridas aproximadamente, usalmente estos autos estan en una media de 18767 dolares con un un millaje medio de 52298 aproximadamente.